.n1{
    color: yellow;
    font: 32px;
}
.n2{
    color: pink;
    font: 32px;
}
.n3{
    color: greenyellow;
    font: 32px;
}
.n4{
    color: red;
    font: 32px;
}
.button{
    flex: auto;
    padding: 2.5px;
}